<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta Tags -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#FF8040">
    <meta name="robots" content="noindex,nofollow">

    <!-- Título -->
    <title>Fale com o Tutor</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Figtree:wght@100;200;300;400;500;600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

    <!-- Javascript -->
    
</head>

<body>
    <!-- Pacote -->
    <div class="d-flex align-items-center mt-4">

        <!-- Conteúdo -->
        <div class="container-fluid text-center">

            <div class="row">
                <div class="col-12 mb-2">
                    <h2 id="FaleTutor">Fale com o seu Tutor</h2>
                    <h5 id="courseName">
                        <script>
                            if('{{requestData["custom_canvas_course_name"]}}' != "$Canvas.course.name"){
                                document.getElementById("courseName").innerHTML = 'DISCIPLINA:\n {{requestData["custom_canvas_course_name"]}}'
                                document.getElementById("courseName").classList.add(["text-success"])
                            }else{
                                document.getElementById("courseName").innerHTML = "Nenhuma Disciplina Selecionada"
                                document.getElementById("courseName").classList.add(["text-warning"])
                            }
                        </script>
                    </h5>
                    <h6>Crie e acompanhe os seus chamados para esclarecer suas dúvidas e demais informações.</h6>
                    <div id = "alert_box"></div>
                    <script>
                        if("{{error}}" != ""){
                            let alert = document.getElementById("alert_box")
                            alert.setAttribute("class","alert")
                            alert.setAttribute("style","padding: 10px; background-color: #f44336; /* Red */color: white;margin-bottom: 15px;")
                            alert.innerHTML = "{{error}}"
                        }
                    </script>
                    <form name="ticket" action="{{url_for("send_to_movi")}}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 mt-2">
                                <input type="hidden" name="custom_canvas_course_id" id="custom_canvas_course_id" value="{{requestData["custom_canvas_course_id"]}}">
                                <input type="hidden" name="custom_canvas_course_name" id="custom_canvas_course_name" value="{{requestData["custom_canvas_course_name"]}}">
                                <input type="hidden" name="custom_user_email" id="custom_user_email" value="{{requestData["custom_user_email"]}}">
                                <input type="hidden" name="custom_user_id" id="custom_user_id" value="{{requestData["custom_user_id"]}}">
                                <input type="hidden" name="custom_user_login" id="custom_user_login" value="{{requestData["custom_user_login"]}}">
                                <input type="hidden" name="custom_user_name" id="custom_user_name" value="{{requestData["custom_user_name"]}}">
                                <input type="hidden" name="custom_account_name" id="custom_account_name" value="{{requestData["custom_account_name"]}}">
                                
                                <div class="col-12 mt-2">
                                    <input type="text" class="form-control border" name="subject_type" id="subject_type" value="" placeholder="Qual o assunto...">
                                </div>
                                <select id="category_type" name="category_type" class="form-select border mt-2 mb-2">
                                    <option selected value="">Qual o tipo do assunto...</option>
                                    <!--Assuntos Tutoria-->
                                    <option value="Atividades Avaliativas">Atividades Avaliativas</option>
                                    <option value="Atividades Complementares">Atividades Complementares</option>
                                    <option value="Atividades Integradoras">Atividades Integradoras</option>
                                    <option value="Cronograma (Aula Prática)">Cronograma (Aula Prática)</option>
                                    <option value="Correção de Conteúdo">Correção de Conteúdo</option>
                                    <option value="Dúvidas/Problemas sobre o Conteúdo">Dúvidas/Problemas sobre o Conteúdo</option>
                                    <option value="Dúvidas sobre o Estágio">Dúvidas sobre o Estágio</option>
                                    <option value="Encontros Sincronos">Encontros Sincronos</option>
                                    <option value="Inclusão de Disciplinas">Inclusão de Disciplinas</option>
                                    <!--Assuntos Apoio-->
                                    <option value="Disciplinas não Disponibilizadas">Disciplinas não Disponibilizadas</option>
                                    <option value="Notas Divergentes">Notas Divergentes</option>
                                    <option value="Prazo das Atividades">Prazo das Atividades</option>
                                    <option value="Dúvidas sobre Provas (Presencial)">Dúvidas sobre Provas (Presencial)</option>
                                    <option value="Dúvidas/Problemas no Portal do Aluno">Dúvidas/Problemas no Portal do Aluno</option>
                                    <option value="Dúvidas/Problemas no Ambiente Virtual de Aprendizagem">Dúvidas/Problemas no Ambiente Virtual de Aprendizagem</option>
                                    <option value="Solicitação de Certificado">Solicitação de Certificado</option>
                                    <option value="Financeiro">Financeiro</option>
                                    <option value="Outros">Outros</option>
                                </select>
                                <textarea id="text_input" name="text_input" style="height: 210px; width: 100%;" required></textarea>
                                <script>
                                    document.getElementById("text_input").removeAttribute("required");
                                </script>
                                <input type="file" id="file" name="file" class="form-control border mt-2">
                            </div>
                            <script>
                                function hide(){
                                    document.getElementById("submit_button").setAttribute("hidden",true);
                                    document.getElementById("load_button").removeAttribute("hidden");
                                }
                            </script>
                                <div class="col-6 mb-4">
                                    <button type="submit" class="btn btn-primary btn-lg col-12 mt-4" id="submit_button" onclick="hide()">
                                        Criar Novo Chamado
                                    </button>
                                    <button type="button" class="btn btn-primary btn-lg col-12 mt-4" id="load_button" hidden disabled> 
                                        <span class="spinner-border spinner-border-sm" role="status"></span>
                                        Enviando mensagem...</button> 
                                </div>
                        </form>
                        <div class="col-6 mb-4">
                            <form action="{{url_for("movi_login_no_ticket")}}" method="post" target="_blank">
                                <input type="hidden" name="custom_user_email" id="custom_user_email" value="{{requestData["custom_user_email"]}}">
                                <input type="hidden" name="custom_user_login" id="custom_user_login" value="{{requestData["custom_user_login"]}}">
                                
                                <button type="submit" class="btn btn-outline-secondary btn-lg col-12 mt-4">
                                    Acompanhar Chamados
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Bootstrap / Popper / Jquery JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>

    <!-- Customização JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">
    
    </script>
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
</body>

</html>